from elasticsearch import Elasticsearch
import elasticsearch.helpers

elasticSource = elasticsearch.Elasticsearch([{"host": "localhost", "port": 9200}])
elasticDestination = elasticsearch.Elasticsearch([{"host": "localhost", "port": 9200}])
es = Elasticsearch()